.formulario{
    border: solid 1px rgb(168, 168, 168);
    margin: auto;
    width: 30rem;
    border-radius: 2.5rem;
    display: flex;
    overflow: none;
}
.formulario-contenido{
    width: 90%;
    margin: auto;
}
.control-formulario{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    margin-top: 1rem;
}
.control-formulario p{
    margin: 0;
    padding: 0;
}
.error{
    background-color: red;
    color: white;
    text-align: center;
}
.oculto{
    display: none;
}