.sistema{
    width: 100%;
}
.contenedor{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.menu{
    justify-content: space-between;
}
.modulo{
    width: 100%;
    height: 85vh;
    border-radius: none;
    margin: 1rem;
    overflow: hidden;
}
.m-formulario{
    overflow: scroll;
    padding: 1rem;
    height: 90%;
}
.btn-f{
    margin-right: 1rem;
}
.item{
    cursor: pointer;
}
.mensajeemergente{
    z-index: 11;
}